/* 
    Document   : syste_config
    Created on : Dec 26, 2010, 2:11:39 PM
    Author     : irkoch
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

